include CHANGELOG.md
include src/silero_vad_lite/data/*.onnx
include src/silero_vad_lite/data/LICENSE.silero
include src/silero_vad_lite/CMakeLists.txt
include src/silero_vad_lite/*.cpp
recursive-include tests *.py *.wav *.json *.md

recursive-include docs *.md
recursive-include scripts *.py
